extends ../layout
include ../mixins/header
include ../mixins/social

block header
  +header('Albums')
block main
  .album
    h1.album__name=album.name
    img.album__img(src=album.image alt=album.name width='400' height='400')
    if album.social
      .album__social
        .artist__social
          each url, type in album.social
            +social(type, url)
    h2.album__author=album.author
    h2.album__release-date Release date: #{album.date}
  .player
    iframe(width='100%' height='450' scrolling='no' frameborder='no' allow='autoplay' src=`https://w.soundcloud.com/player/?url=${album.url}&color=%23131416&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false`)
