extends ../layout
include ../mixins/header
include ../mixins/social
include ../mixins/player

block header
  +header(`Album: ${album.name}`)
block main
  .item
    h1.item__title=album.name
    img.item__img.item__img--square(src=album.image alt=album.name width='300' height='300')
    if album.social
      .item__social
          each url, type in album.social
            +social(type, url)
    h2.item__name
      each author in album.authors
        a(href=author.href)
          =author.nickname
    h2.album__subtitle Release date: #{album.date}
  +player(album.url, '100%', 450)
