extends ../layout
include ../mixins/header
include ../mixins/album
include ../mixins/social
include ../mixins/player

block header
  +header(`Artist: ${artist.nickname}`)
block main
  .artist.item
    h1.item__title= artist.nickname
    img.item__img.item__img--rect(src=artist.photo, alt=artist.nickname, width='300', height='400')
    .item__social
      each url, type in artist.social
        +social(type, url)
    h1.item__name= artist.name
    p.item__info= artist.info
  if artist.social.soundcloud
    +player(artist.social.soundcloud, '100%', 166)
  .artist__albums
    ul.albums
      each album in artist.albums
        +album(album)
  p.artist__schedule
  .photos__carousel
