extends ../layout
include ../mixins/header
include ../mixins/album
include ../mixins/social

block header
  +header(`Artist: ${artist.nickname}`)
block main
  .artist
    h1.artist__nickname= artist.nickname
    img.artist__img(src=artist.photo, alt=artist.nickname, width='1494', height='2160')
    .artist__social
      each url, type in artist.social
        +social(type, url)
    h1.artist__name= artist.name
    p.artist__info= artist.info
  .player
    iframe(width='100%', height='166', scrolling='no', frameborder='no', allow='autoplay', src=`https://w.soundcloud.com/player/?url=${artist.url}&color=%23111413&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false`)
  .artist__albums
    ul.albums
      each album in artist.albums
        +album(album)
  p.artist__schedule
  .photos__carousel
