extends ../layout
include ../mixins/header
include ../mixins/album
include ../mixins/social
include ../mixins/player

block header
  +header(`Artist: ${artist.nickname}`)
block main
  .artist
    h1.artist__nickname= artist.nickname
    img.artist__img(src=artist.photo, alt=artist.nickname, width='1494', height='2160')
    .artist__social
      each url, type in artist.social
        +social(type, url)
    h1.artist__name= artist.name
    p.artist__info= artist.info
  +player(album.url, '100%', 166)
  .artist__albums
    ul.albums
      each album in artist.albums
        +album(album)
  p.artist__schedule
  .photos__carousel
